@using Lunatic.UI.Auth
@using Lunatic.UI.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject ITokenService TokenService
@inherits LayoutComponentBase

<div class="page">
    @if (!IsLoginPage && !IsRegisterPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsLoginPage => navigationManager.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase);
    private bool IsRegisterPage => navigationManager.Uri.EndsWith("/register", StringComparison.OrdinalIgnoreCase);
    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync();
        Console.WriteLine($"Token: {token}");
        if (token == null && !IsLoginPage)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}
