.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.book-card {
    border: 1px solid #ddd;
    background-color: rgba(255, 177, 177, 0.2);
    border-radius: 4px;
    width: 200px;
    padding: 10px;
    height: 300px;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .book-card img {
        width: 100px;
        height: 150px;
        align-self: center;
        margin-bottom: 10px;
    }

.book-details {
    justify-content: center;
    height: 250px;
}
    .book-details h5, p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px; /* Add margin for spacing */
    }
    .book-card button {
        margin-bottom: 10px;
    }
.book-card h5 {
    font-size: 1.1em;
    margin: 5px 0;
}

.book-card p {
    margin: 3px 0;
}

.card-footer {
    margin-top: 10px;
}

.book-card button {
    width: 100%;
}
.book-card button {
    width: 70%;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

input.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}