.profile-details {
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
}
